*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata

# Desktop generated database
desktop/DailyPulseDatabase.db

# Web generated lock files
kotlin-js-store/
